## Eclipse configuration files
.gitignore
.classpath
.checkstyle
.index
.gitignore
.project
.settings/
*/**/*.classpath
samples/

## Maven compiled files
target/
bin/

## Gedit temporary files
*~

## Binary files
*.class
